body{
  font-family: 'PT Sans', sans-serif;
  background-color: #f5f5f5;
}
#cover {
    padding-top: 150px;
    padding-bottom: 150px;
    color:black;
}
#background{
  background-image: url("cover.jpg");
  background-size: cover;
}
#content h3{
  padding: 30px;
  color: #2FA564;
}
#content{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#contactenos h4{
  color: #2FA564;
  font-family: 'Acme', sans-serif;
  font-size: 3em;
  padding:20px;
}
#contactenos{
  margin-bottom: 60px;
}
nav a{
  color:#969798;
  font-size: 1.1em;
}
.display-2{
  font-family: 'Indie Flower', cursive;
  color:white;
}
.card p{
  color: gray;
}
.card{
  width: 19rem;
  height: 18rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
footer{
  background-color:#3A3C42;
  color:#E2DAD0;
  padding: 30px;
}
footer .container p{
margin: 0;
}

#content i{
  color: #6AC04B;
  font-size: 3em;
  padding : 30px;
  text-shadow: 1px 1px 1px #ccc;
}
.btn-circle {
  text-align: center;
  border-radius: 15px;
}
.vertical-align{
  color:white;
  display: flex;
  flex-direction: row;
}
.align{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.card-title{
  font-size:1.3em;
}
.test{
  font-family: 'Markazi Text', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 35px;
  letter-spacing: 1.4px;
  font-size: 1.5em;
  text-align: justify;
}
#nuestrameta{
  padding: 20px;
  min-height: 450px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#nuestrameta li{
  list-style-type: circle;
}
#nuestrameta h4{
  padding:30px;
  font-size: 3em;
  font-family: 'Acme', sans-serif;
}
#nuestrahistoria{

}
#nuestrahistoria h4{
  padding:30px;
  font-size: 3em;
  font-family: 'Acme', sans-serif;
}
